<div class="container">
  <section class="section-top">
    <div class="wrapper">
      <div class="greeting-wrapper">
        <div class="greeting">
          <div class="content">
            <h1 class="title">Teams don't lose track of work with {{ AppName }}</h1>
            <div class="description">See your team's plans, track progress, and discuss work in one place. With {{ AppName }} as your work manager, you'll stay on top of everything your team's doing</div>
          </div>

          <a class="button">Try it</a>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="img" src="../../../../assets/project.svg" alt="Greeting">
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section-middle">
    <div class="wrapper">
      <div class="section-middle-container">
        <div class="middle-content">
          <div class="middle-card">
            <h3 class="middle-title">Get organized</h3>
            <p class="middle-content">Add and assign action items. Teams know what needs to get done, which tasks are a priority, and when work is due.</p>
          </div>

          <div class="middle-card">
            <h3 class="middle-title">Stay on track</h3>
            <p class="middle-content">Focus on tasks currently at hand. Visualize each stage of work and see where things are getting stuck.</p>
          </div>

          <div class="middle-card">
            <h3 class="middle-title">Hit deadlines</h3>
            <p class="middle-content">See how work maps out over time. Manage dependent, unscheduled, and overlapping tasks, and create plans teams can count on.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-3">
    <div class="wrapper">
      <div class="section-3-top">
        <div class="section-3-card pink"></div>

        <div class="section-3-card black">
          <div class="card-3-img">
            <img src="../../../../assets/team.png" alt="Team">
          </div>
          <div class="card-3-content">
            <div class="card-3-title">TeamApp enabled us to reduce planning time by 66% and scale from 40 to 200 campaigns per quarter.</div>
            <div class="card-3-author">
              Badrul Farooqi — Project Manager
            </div>
          </div>
        </div>

        <div class="section-3-card orange">
          <div class="orange-content">
            <div class="card-3-title">Asana’s flexibility and customization are the most powerful parts of it for our marketing organization.</div>

            <div class="card-3-author color-orange">
              Dawn Jensen — Senior Program Marketing Manager
            </div>
          </div>
        </div>
      </div>

      <div class="section-3-bottom">
        <div class="section-3-card green">
          <div class="card-3-img">
            <img src="../../../../assets/block.png" alt="Team">
          </div>
          <div class="card-3-content">
            <div class="card-3-title color-orange">With Asana, we save an estimated 50 hours per week that used to be spent answering email and attending check-in meetings.</div>
            <div class="card-3-author color-orange">
              Jamie Chappell — Creative Director
            </div>
          </div>
        </div>

        <div class="section-3-card gray">
          <div class="orange-content">
            <div class="card-3-title color-orange">Asana has been instrumental in enabling our team to grow by 6X this year and successfully scale our processes.</div>

            <div class="card-3-author color-orange">
              Ryan Bonnici — Chief Marketing Officer
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section-4">
    <div class="wrapper">
      <div class="section-4-content">
        <div class="get-started">
          <p class="start">Get Started</p>
          <div class="start-conent">See everything your team’s working on, all in one place.</div>
          <a class="start-button">Try for free</a>
        </div>
      </div>
    </div>
  </section>
</div>
