<div class="container">
  <section class="section-top">
    <div class="wrapper">
      <div class="greeting-wrapper">
        <div class="greeting">
          <div class="content">
            <h1 class="title">{{'GREETING.TITLE' | translate}} {{ AppName }}</h1>
            <div class="description">{{'GREETING.DESCRIPTION' | translate}} {{ AppName }} {{'GREETING.AS' | translate}}</div>
          </div>
          <a class="button">{{'GREETING.TRY' | translate}}</a>
        </div>
        <div class="slide">
          <div class="img-wrapper">
            <img class="img" src="../../../../assets/project.svg" alt="Greeting">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-middle">
    <div class="wrapper">
      <div class="section-middle-container">
        <div class="middle-content">
          <div class="middle-card">
            <h3 class="middle-title">{{'GREETING.GET' | translate}}</h3>
            <p class="middle-content">{{'GREETING.ADD' | translate}}</p>
          </div>

          <div class="middle-card">
            <h3 class="middle-title">{{'GREETING.STAY' | translate}}</h3>
            <p class="middle-content">{{'GREETING.FOCUS' | translate}}</p>
          </div>

          <div class="middle-card">
            <h3 class="middle-title">{{'GREETING.HIT' | translate}}</h3>
            <p class="middle-content">{{'GREETING.SEE' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-3">
    <div class="wrapper">
      <div class="section-3-top">
        <div class="section-3-card pink"></div>

        <div class="section-3-card black">
          <div class="card-3-img">
            <img src="../../../../assets/team.png" alt="Team">
          </div>
          <div class="card-3-content">
            <div class="card-3-title">{{'GREETING.TEAM_APP' | translate}}</div>
            <div class="card-3-author">
              {{'GREETING.BADRUL' | translate}}
            </div>
          </div>
        </div>

        <div class="section-3-card orange">
          <div class="orange-content">
            <div class="card-3-title">{{AppName}}{{'GREETING.FLEXIBILITY' | translate}}</div>
            <div class="card-3-author color-orange">
              {{'GREETING.DAWN' | translate}}
            </div>
          </div>
        </div>
      </div>

      <div class="section-3-bottom">
        <div class="section-3-card green">
          <div class="card-3-img">
            <img src="../../../../assets/block.png" alt="Team">
          </div>
          <div class="card-3-content">
            <div class="card-3-title color-orange">{{'GREETING.WITH' | translate}}
              {{AppName}}
              {{'GREETING.WE_SAVE' | translate}}</div>
            <div class="card-3-author color-orange">
              {{'GREETING.JAMIE' | translate}}
            </div>
          </div>
        </div>

        <div class="section-3-card gray">
          <div class="orange-content">
            <div class="card-3-title color-orange">{{AppName}} {{'GREETING.INSTRUMENTAL' | translate}}</div>

            <div class="card-3-author color-orange">
              {{'GREETING.RYAN' | translate}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section-4">
    <div class="wrapper">
      <div class="section-4-content">
        <div class="get-started">
          <p class="start"> {{'GREETING.GET_STARTED' | translate}}</p>
          <div class="start-conent"> {{'GREETING.EVERYTHING' | translate}}</div>
          <a class="start-button"> {{'GREETING.TRY_FOR_FREE' | translate}}</a>
        </div>
      </div>
    </div>
  </section>
</div>
