.board {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.header-wrapper {
  width: 100%;
}

.board-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.board-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.board-content {
  height: 100%;
  display: flex;
  gap: 10px;

  overflow-x: auto;
  white-space: nowrap;
}

.board-content-columns {
  height: 100%;
  display: flex;
  gap: 10px;
}

.column {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 0;
  padding-bottom: 16px;
  overflow-y: auto !important;
  white-space: nowrap;
}

.task {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 1px #c8cbcd;
  margin-bottom: 10px;
}

.task-title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-form {
  display: flex;
}

.column-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-title-input {
  border-bottom: 1px solid #3f51b5;
}

.column-title-controllers {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

::ng-deep .column-title-wrapper .mat-form-field-flex {
  padding: 0 !important;
}
::ng-deep .column-title-wrapper .mat-form-field-infix {
  border: none;
}

.column-title-content {
  color: #3f51b5;
}

.taks-form-filed {
  width: 100%;
}

.add-task-button {
  align-self: flex-end;
}

.taks-form-add {
  width: 100%;
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  height: 100%;
  width: 300px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-task-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  width: 100%;
  height: 101px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 781px) and (max-width: 1400px) {
  .board-content-columns {
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .board-content {
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 780px) {
  .board-content-columns {
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .board-content {
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
