<div class="footer-wrap">
  <div class="course">
    <a href="https://rs.school/angular/">
      <img class="logo" alt="logo"
           src="assets/rs_school.svg">
    </a>
  </div>
  <div class="developers">
    <a class="dev dev-a" href="https://github.com/AlishNematov">
      <a>
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p class="name"><span class="firstName">{{ "FOOTER.ALISHER" | translate }}</span>
        {{ "FOOTER.NEMATOV" | translate }}</p>
    </a>
    <a class="dev dev-j" href="https://github.com/jenyajk">
      <a>
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p class="name"><span class="firstName">{{ "FOOTER.JENYA" | translate }}</span>
        {{ "FOOTER.KIM" | translate }}</p>
    </a>
    <a class="dev dev-i" href="https://github.com/mDjeee">
      <a>
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p class="name"><span class="firstName">{{ "FOOTER.ISLAM" | translate }}</span>
        {{ "FOOTER.SEYNTIYAZOV" | translate }}</p>
    </a>
</div>
</div>
