<div class="footer-wrap">
  <div class="course">
    <a href="https://rs.school/angular/">
      <img class="logo"
           src="assets/rs_school.svg">
    </a>
  </div>
  <div class="developers">
    <a class="dev dev-a" href="https://github.com/AlishNematov">
      <a>
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p class="name"><span class="firstName">Alisher</span> Nematov</p>
    </a>
    <a class="dev dev-j" href="https://github.com/jenyajk">
      <a>
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p class="name"><span class="firstName">Evgeniya</span> Kim</p>
    </a>
    <a class="dev dev-i" href="https://github.com/mDjeee">
      <a>
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p class="name"><span class="firstName">Islam</span> Seytniyazov</p>
    </a>
</div>
</div>
