
.footer-wrap {
  margin-top: 10px;
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.logo {
  fill: red;
}
p {
  font-family: Gentium;
}

.logo-git {
  width: 30px;
  height: 30px;
  filter: invert(15%) sepia(100%) saturate(3872%) hue-rotate(251deg) brightness(92%) contrast(95%);
}

.developers {
  display: flex;
  gap: 10px;
}

.dev {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.logo {
  height: 30px;
  width: auto;
  // filter: invert(15%) sepia(100%) saturate(3872%) hue-rotate(251deg) brightness(92%) contrast(95%);
  filter: invert(79%) sepia(31%) saturate(2370%) hue-rotate(357deg) brightness(97%) contrast(105%);
}

.name {
  color: #FCBD01;
  font-size: 24px;
  line-height: 30px;
}

.firstName {
  color: #5030E5;
}
