<div class="footer-wrap">
  <div class="course">
    <a href="https://rs.school/angular/">
      <img class="logo"
           src="assets/rs_school_js.svg"
           width="40px"
           height="40px">
    </a>
  </div>
  <div class="developers">
    <div class="dev dev-a">
      <a href="https://github.com/AlishNematov">
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p>Alisher Nematov</p>
    </div>
    <div class="dev dev-j">
      <a href="https://github.com/jenyajk">
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p>Evgeniya Kim</p>
    </div>
    <div class="dev dev-i">
      <a href="https://github.com/mDjeee">
        <img src="assets/GitHub-Mark-32px.png" alt="github" class="logo-git">
      </a>
      <p>Islam Seytniyazov</p>
    </div>
</div>
</div>
