<div class="auth-page">
  <div class="wrapper">
    <div class="auth-container">
      <!-- Sign up -->
      <form [formGroup]="user" *ngIf="!isLoginMode">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <mat-card>
          <mat-card-title>Authoriztion</mat-card-title>

          <mat-error *ngIf="!!error">
            {{ error }}
          </mat-error>

          <mat-form-field>
            <mat-label>Name</mat-label>

            <input matInput type="text" formControlName="name">

            <mat-error *ngIf="name?.errors?.['required']">
              Name is required
            </mat-error>

            <mat-error *ngIf="name?.errors?.['minlength']">
              This field must have at least 3 characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Username</mat-label>

            <input matInput type="text" formControlName="login">

            <mat-error *ngIf="login?.errors?.['required']">
              Username is required
            </mat-error>

            <mat-error *ngIf="login?.errors?.['minlength']">
              This field must have at least 3 characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>

            <input
            matInput
            type="password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            >

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="password?.errors?.['required']">
              Password is required
            </mat-error>

            <mat-error *ngIf="password?.errors?.['minlength']">
              This field must have at least 8 characters.
            </mat-error>
          </mat-form-field>

          <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="signUp()"
          [disabled]="!user.valid || isLoading">Sign up</button>

          <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="switchForm()"
          [disabled]="isLoading">Switch to Sign in</button>
        </mat-card>
      </form>

<!-- Sign in -->

      <form [formGroup]="loginUser" *ngIf="isLoginMode">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <mat-card>
          <mat-card-title>Authoriztion</mat-card-title>

          <mat-error *ngIf="!!error">
            {{ error }}
          </mat-error>

          <mat-form-field>
            <mat-label>Username</mat-label>

            <input matInput type="text" formControlName="loginName">

            <mat-error *ngIf="loginName?.errors?.['required']">
              Username is required
            </mat-error>

            <mat-error *ngIf="loginName?.errors?.['minlength']">
              This field must have at least 3 characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>

            <input
            matInput
            type="password"
            [type]="hide ? 'password' : 'text'"
            formControlName="loginPassword">

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="loginPassword?.errors?.['required']">
              Password is required
            </mat-error>

            <mat-error *ngIf="loginPassword?.errors?.['minlength']">
              This field must have at least 8 characters.
            </mat-error>
          </mat-form-field>

          <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="signIn()"
          [disabled]="!loginUser.valid || isLoading">Sign in</button>

          <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="switchForm()"
          [disabled]="isLoading">Switch to Sign up</button>
        </mat-card>
      </form>
    </div>
  </div>
</div>
