<div class="auth-page">
  <div class="wrapper">
    <div class="auth-container">
      <form [formGroup]="user">
        <mat-card>
          <mat-card-title>Authoriztion</mat-card-title>

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">

            <mat-error *ngIf="name?.errors?.['required']">
              Name is required
            </mat-error>

            <mat-error *ngIf="name?.errors?.['minlength']">
              This field must have at least 3 characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">

            <mat-error *ngIf="username?.errors?.['required']">
              Username is required
            </mat-error>

            <mat-error *ngIf="username?.errors?.['minlength']">
              This field must have at least 3 characters.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="password?.errors?.['required']">
              Password is required
            </mat-error>

            <mat-error *ngIf="password?.errors?.['minlength']">
              This field must have at least 8 characters.
            </mat-error>
          </mat-form-field>

          <button mat-button>Sign up</button>
        </mat-card>
      </form>
    </div>
  </div>
</div>
