<div class="container">
  <div class="head">
    <div class="dashboard__menu">
      <form class="example-form" [formGroup]="boardForm">
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
        <button
          class="submit-btn"
          mat-raised-button
          color="primary"
          [disabled]="boardForm.invalid"
          (click)="createBoard()"
          >Создать доску</button>
      </form>
    </div>
  </div>

  <mat-progress-bar *ngIf="isLoadingDashboard" mode="query"></mat-progress-bar>

  <div *ngIf="!errorMsg" class="wrapper">

    <div *ngIf="!isLoadingDashboard" class="content">

      <mat-card class="dashboard" *ngFor="let board of boards" routerLink="/board/{{board.id}}">
        <mat-card-content class="board">
          <div class="board-header">
            <h2 [class.hide]="board.id === selectedId" class="board-title" matListItemTitle>{{board.title}}</h2>

            <input
                [(ngModel)]="updateTitle"
                *ngIf="board.id === selectedId"
                class="board-title input-title"
                type="text">

            <div class="buttons board-btns">
              <button
              clickStopPropagation
              [class.hide]="board.id === selectedId"
              mat-icon-button color="primary"
              class="btn"
              (click)="selectBoard(board)">
                <mat-icon class="btn-icon">edit</mat-icon>
              </button>

              <button
              clickStopPropagation
              [class.hide]="board.id !== selectedId"
              mat-icon-button color="primary"
              class="btn"
              (click)="updateBoard(board.id)">
                <mat-icon class="btn-icon">send</mat-icon>
              </button>

              <button
              clickStopPropagation
              [class.hide]="board.id === selectedId"
              mat-icon-button color="primary"
              class="btn"
              (click)="deleteBoard(board.id)">
                <mat-icon class="btn-icon">delete_outline</mat-icon>
              </button>

              <button
              clickStopPropagation
              [class.hide]="board.id !== selectedId"
              mat-icon-button
              class="btn"
              color="primary"
              (click)="quitSelected()">
                <mat-icon class="btn-icon">clear</mat-icon>
              </button>

            </div>
          </div>

          <div class="board-content" matListItemLine>
            <div [class.hide]="board.id === selectedId">{{board.description}}</div>
            <textarea
              [(ngModel)]="updateContent"
              *ngIf="board.id === selectedId"
              class="board-content textarea"
              type="text"
              ></textarea>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="isLoadingBoard">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card>
    </div>

    <mat-card *ngIf="!boards">
      <mat-card-content>Ни одной доски пока не создано</mat-card-content>
    </mat-card>
  </div>

  <mat-error class="error" *ngIf="errorMsg">{{ errorMsg }}</mat-error>
</div>
