@font-face {
  font-family: Gentium;
  src: url("/assets/fonts/GentiumPlus-Regular.ttf") format("opentype");
}

html, body {
  font-family: Gentium;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
